<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img
    src="https://pbs.twimg.com/profile_images/558478562974785536/gwe4Ck5B_400x400.jpeg"
    alt="No pic">
  <form #form="ngForm" (ngSubmit)="connect()">
    <div class="form-group">
      <label for="endpoint">
        Enter endpoint for connecting to pi
      </label>
      <input type="text"
             class="form-control"
             id="endpoint"
             name="endpoint"
             required
             [(ngModel)]="configUrl">
    </div>
    <button (click)="connect()" class="btn btn-success">Connect</button>
  </form>
</div>

<div>
  <h2> Humidity: {{data?.hum}} %</h2>
  <h2>Temperature: {{data?.temp}} C</h2>
  <h2>Led : {{data?.led ? "on" : "off"}}</h2>
  <button type="submit">Update</button>
</div>

